html, body {
    height: 100%;
    padding: 0;
}

body {
    background-image: none;
    font-size: 18px;
    font-family: Helvetica, Sans-serif;
    background: #eee;
    color: #333;
}

h1 {
    font-size: 24px;
    font-weight: 100;
}

a {
    color: #0C2043;
    text-decoration: none;
}

a:hover {color: #2785c7;}


/* =====================================

 Form inputs 

===================================== */

input[type="text"],
input[type="password"],
textarea {
    min-width: 300px;
    width: 90%;
    height: 35px;
    margin: 0 0 20px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

input[type="text"].small,
input[type="password"].small {
    width: 300px;
}

textarea {
    height: 200px;
    padding: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid #2785c7;
    outline: none;
}

/* =====================================

 Buttons

===================================== */
input[type="submit"],
input[type="button"],
.btn-type1,
.btn-type2 {
    height: 35px;
    cursor: pointer;
    padding: 0 20px;
    display: inline-block;
    border: none;
    font-weight: 100;
}

input[type="submit"],
.btn-type1 {
    color: #fff;
    background: #2785c7;
}

input[type="submit"]:hover,
.btn-type1:hover {
    background: #458bc7;
}

input[type="button"],
.btn-type2 {
    color: #000;
    background: #c0c0c0;
}

input[type="button"]:hover,
.btn-type2:hover {
    color: #000;
    background: #c6c6c6;
}

.btn-type2 {
    margin: 10px 0;
    display: inline-block;
    height: 28px;
    padding: 7px 25px 0;
}

/* =====================================

 System messages
 
===================================== */

.system-msg {
    background: #8aabd8;
    color: #173a69;
    padding: 5px 10px;
    text-align: center;
    line-height: 1.35;
    border: 1px solid #507ab4;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-weight: 100;
}

.system-msg.important,
.system-msg.error {
    background: #F8BDA9;
    color: #57060A;
    border: 1px solid #57060A;
}


/* =====================================

 Login module
 
===================================== */
.login-wrapper {
    width: 324px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
}

.login .logo {text-align: center;}
.login .logo h1 {font-size: 40px;}

/*#login_error {
    background: #F8BDA9;
    color: #57060A;
    padding: 5px 10px;
    text-align: center;
    line-height: 1.35;
}*/

.login {
    padding: 15px 0;
}


/* =====================================

 Main Toolbar
 
===================================== */
.toolbar {
    width: 20%;
    color: #eee;
    height: 100%;
    float: left;
    background: #333;
    font-weight: 100;
}

.toolbar .logged-in {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.toolbar .logged-in .static {
    color: #999;
}

.toolbar .logged-in .user {font-size: 18px;}

.toolbar .toolmenu {
    list-style: none;
    padding: 0;
}

.toolbar .toolmenu li a {
    display: block;
    padding: 20px 0 20px 20px;
    font-size: 20px;
    color: #eee;
    text-transform: uppercase;
    border-bottom: 1px solid #222;
    letter-spacing: 1px;
}

.toolbar .toolmenu li:first-child a {border-top: 1px solid #222;}

.toolbar .toolmenu li a:hover,
.toolbar .toolmenu li a.active {
    background: #2785c7;
}

/* =====================================

 Top Toolbar
 
===================================== */
.top-toolbar {
    background: #333;
    width: 100%;
    height: 40px;
    font-weight: 100;
}

.top-toolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.top-toolbar ul li a {
    padding: 9px 20px 10px;
    color: #ccc;
    display: inline-block;
    border-right: 1px solid #222;
}

.top-toolbar ul li:first-child a { border-left: 1px solid #222; }

.top-toolbar ul li a:hover {
    background: #444;
}

/* =====================================

 Content area
 
===================================== */
.main-area {
    width: 80%;
    height: 100%;
    float: left;
}

.admin-view {padding: 20px;}


/* =====================================

 Table lsits
 
===================================== */
.table-list {
    width: 100%;
    font-weight: 100;
}

.table-list thead,
.table-list tfoot {
    background: #ccc;
}

.table-list tfoot {border-top: 2px solid #999;}

.table-list thead th,
.table-list tfoot th {
    padding: 10px;
    color: #333;
}

.table-list tr.even {
    background: #eee;
}

.table-list tr.odd {
    background: #e6e6e6;
}

.table-list tbody tr:hover {
    background: #dfdfdf;
}

.table-list td {
    text-align: center;
    padding: 10px 0;
}
